<form action="/sign-in" method="POST">
    <label>User Name</label>
    <input type="text" name="userName" placeholder="e.g. John Doe" required>
    <label>Password</label>
    <input type="password" name="password" placeholder="e.g. My Secure Password" required>
    <button type="submit">Sign In</button>
</form>